.Random-Questions--Header {
    margin-bottom: 16px;
    overflow: hidden;
}
.Page-Title {
    text-align: center;
    font-family: "Courier";
    font-size: 2.25em;
    color: rgba(255,255,255,.9);
}

/* Large Devices */
@media only screen and (min-width : 600px) {
    .Random-Questions--Header {
        margin-bottom: 0px;
    }
    .Page-Title {
        text-align: left;
    }
}