.Question {
    border: 1px solid #999;
    margin: 5px 0;
    padding: 5px;
}
.Vote-Value {
    color:#016fb9;
}
.Unpopular-Question {
    font-size:1em;
}
.Okay-Question {
    font-size:1.25em;
}
.Popular-Question {
    font-size:1.5em;
}
.Very-Popular-Question {
    font-size:1.75em;
}