.Questions {
    width:100%;
    text-align: left;
    margin-bottom: 20px;
}

.Questions th, td {
    padding:5px;
    background-color: rgba(255,255,255,.9);
}

.Questions th {
    background-color:#fd941d;
    color:#fff;
}

td.votes-cell {
    text-align: center;
}