.Search {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.Search--Box {
    min-width:280px;
    width: 75%;
    font-size: 1.25em;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px #ddd solid;
    background-color: #fff;
}

/* Large Devices */
@media only screen and (min-width : 600px) {
    .Search {
        padding-top:20px;
        text-align: left;
    }
    .Search--Box {
        width: 100%;
    }
}